.panel ul li{
    
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 5px;
    

}
.panel{
    background-color: #fff;
    
}
.it1{
    width: 1000px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
}
.thumb-lg{
    margin-left: 15px;
   
    border-radius: 50%;
}
.pull-right{
    margin-right: 10px;
    
}
.btn{
    margin-right: 5px;
}



